## Example Loading the Dataset

In [1]:
# %pip install datasets
import datasets

# %pip install Ipython
from IPython.display import display, Markdown

# for more details see https://huggingface.co/datasets/siavava/ai-tech-articles
dataset = datasets.load_dataset("siavava/ai-tech-articles")
df = dataset["train"].to_pandas()  # there's only the 'train' split because HF requires it.
display(df.head(5))

# split df by year, if you want to
years = df["year"].unique()
dfs = {}
for year in years:
    dfs[year] = df[df["year"] == year]
    
for year in sorted(years, reverse=True):
    display(Markdown(f"### Year: {year}"))
    display(Markdown(f"Number of articles: {len(dfs[year])}"))
    display(dfs[year].head(3))
    display(Markdown("---"))

,id,year,title,url,text
0,0,2016,"""Human-Animal Chimeras Are Gestating on U.S. R...","""https://www.technologyreview.com/s/545106/hum...","""Featured Topics Newsletters Events Podcasts F..."
1,1,2013,"""Too Much Information | MIT Technology Review""","""https://www.technologyreview.com/s/522661/too...","""Featured Topics Newsletters Events Podcasts F..."
2,2,2017,"""Hacking the Biological Clock | MIT Technology...","""https://www.technologyreview.com/magazines/ha...","""Featured Topics Newsletters Events Podcasts F..."
3,3,2018,"""Six things to do with your data before you di...","""https://www.technologyreview.com/2018/10/23/2...","""Featured Topics Newsletters Events Podcasts F..."
4,4,2018,"""Your genome, on demand | MIT Technology Review""","""https://www.technologyreview.com/2018/10/23/1...","""Featured Topics Newsletters Events Podcasts F..."

### Year: 2023

Number of articles: 3747

,id,year,title,url,text
13,13,2023,"""Humane officially launches the AI Pin, its Op...","""https://www.theverge.com/2023/11/9/23953901/h...","""The Verge homepage The Verge homepage The Ver..."
18,18,2023,"""The Mining Industry’s Next Frontier Is Deep, ...","""https://www.wired.com/story/deep-sea-mining-e...","""Open Navigation Menu To revist this article, ..."
25,25,2023,"""SolarWinds: The Untold Story of the Boldest S...","""https://www.wired.com/story/the-untold-story-...","""Open Navigation Menu To revist this article, ..."

---

### Year: 2022

Number of articles: 2313

,id,year,title,url,text
14,14,2022,"""This startup plans to create realistic human ...","""https://www.technologyreview.com/2022/08/04/1...","""Featured Topics Newsletters Events Podcasts F..."
26,26,2022,"""Your Microsoft Exchange Server Is a Security ...","""https://www.wired.com/story/microsoft-exchang...","""Open Navigation Menu To revist this article, ..."
27,27,2022,"""Why the Belarus Railways Hack Marks a First f...","""https://www.wired.com/story/belarus-railways-...","""Open Navigation Menu To revist this article, ..."

---

### Year: 2021

Number of articles: 2144

,id,year,title,url,text
15,15,2021,"""Israel’s “green pass” vaccine passport is an ...","""https://www.technologyreview.com/2021/03/01/1...","""Featured Topics Newsletters Events Podcasts F..."
17,17,2021,"""Will Future Electric Vehicles Be Powered by D...","""https://www.wired.com/story/will-future-elect...","""Open Navigation Menu To revist this article, ..."
19,19,2021,"""2021 Was the Year Space Tourism Opened Up. Bu...","""https://www.wired.com/story/2021-was-the-year...","""Open Navigation Menu To revist this article, ..."

---

### Year: 2020

Number of articles: 1856

,id,year,title,url,text
28,28,2020,"""Ransomware Has Gone Corporate—and Gotten More...","""https://www.wired.com/story/ransomware-gone-c...","""Open Navigation Menu To revist this article, ..."
44,44,2020,"""Big Tech’s Role in Policing the Protests | WI...","""https://www.wired.com/story/gadget-lab-podcas...","""Open Navigation Menu To revist this article, ..."
46,46,2020,"""This Drone Maker Is Swooping In Amid US Pushb...","""https://www.wired.com/story/drone-maker-swoop...","""Open Navigation Menu To revist this article, ..."

---

### Year: 2019

Number of articles: 1914

,id,year,title,url,text
31,31,2019,"""Alleged Russian Hacker Behind $100 Million Ev...","""https://www.wired.com/story/alleged-russian-h...","""Open Navigation Menu To revist this article, ..."
45,45,2019,"""Riot Games Makes More Than Just 'League of Le...","""https://www.wired.com/story/riot-games-announ...","""Open Navigation Menu To revist this article, ..."
63,63,2019,"""Why the ‘Queen of Shitty Robots’ Renounced He...","""https://www.wired.com/story/simone-giertz-bui...","""Open Navigation Menu To revist this article, ..."

---

### Year: 2018

Number of articles: 1339

,id,year,title,url,text
3,3,2018,"""Six things to do with your data before you di...","""https://www.technologyreview.com/2018/10/23/2...","""Featured Topics Newsletters Events Podcasts F..."
4,4,2018,"""Your genome, on demand | MIT Technology Review""","""https://www.technologyreview.com/2018/10/23/1...","""Featured Topics Newsletters Events Podcasts F..."
5,5,2018,"""Genes I wish they would find | MIT Technology...","""https://www.technologyreview.com/2018/10/23/1...","""Featured Topics Newsletters Events Podcasts F..."

---

### Year: 2017

Number of articles: 1177

,id,year,title,url,text
2,2,2017,"""Hacking the Biological Clock | MIT Technology...","""https://www.technologyreview.com/magazines/ha...","""Featured Topics Newsletters Events Podcasts F..."
16,16,2017,"""The Georgia Runoff Election Doesn't Have a Pa...","""https://www.wired.com/story/georgia-runoff-el...","""Open Navigation Menu To revist this article, ..."
22,22,2017,"""How to Use Tor and Go Anonymous Online | WIRED""","""https://www.wired.com/story/the-grand-tor""","""Open Navigation Menu To revist this article, ..."

---

### Year: 2016

Number of articles: 777

,id,year,title,url,text
0,0,2016,"""Human-Animal Chimeras Are Gestating on U.S. R...","""https://www.technologyreview.com/s/545106/hum...","""Featured Topics Newsletters Events Podcasts F..."
43,43,2016,"""Boosted: The Electric Skateboard Company That...","""https://www.wired.com/2016/08/electric-skateb...","""Open Navigation Menu To revist this article, ..."
133,133,2016,"""The Panama Papers and the Monster Stories of ...","""https://www.newyorker.com/news/news-desk/the-...","""Newsletter To revisit this article, select My..."

---

### Year: 2015

Number of articles: 743

,id,year,title,url,text
57,57,2015,"""The coming of the eSIM | VentureBeat""","""https://venturebeat.com/2015/10/25/the-coming...","""Artificial Intelligence View All AI, ML and D..."
156,156,2015,"""Tallis Gomes | MIT Technology Review""","""https://www.technologyreview.com/innovator/ta...","""Featured Topics Newsletters Events Podcasts F..."
158,158,2015,"""Radha Boya | MIT Technology Review""","""https://www.technologyreview.com/innovator/ra...","""Featured Topics Newsletters Events Podcasts F..."

---

### Year: 2014

Number of articles: 588

,id,year,title,url,text
73,73,2014,"""Watch ""Star Wars Explained"" Answers More Star...","""https://www.wired.com/video/watch/star-wars-s...","""Open Navigation Menu To revisit this article,..."
174,174,2014,"""Bill Liu | MIT Technology Review""","""https://www.technologyreview.com/innovator/bi...","""Featured Topics Newsletters Events Podcasts F..."
403,416,2014,"""Neurotechnology is here. Without laws, your b...","""https://www.vox.com/future-perfect/2023/3/17/...","""Vox homepage Give Give Newsletters Newsletter..."

---

### Year: 2013

Number of articles: 124

,id,year,title,url,text
1,1,2013,"""Too Much Information | MIT Technology Review""","""https://www.technologyreview.com/s/522661/too...","""Featured Topics Newsletters Events Podcasts F..."
20,20,2013,"""New Asteroid Mining Company Aims to Manufactu...","""https://www.wired.com/2013/01/deep-space-aste...","""Open Navigation Menu To revist this article, ..."
740,753,2013,"""How Ray Kurzweil Will Help Google Make the Ul...","""https://www.wired.com/business/2013/04/kurzwe...","""Open Navigation Menu To revist this article, ..."

---

### Year: 2012

Number of articles: 141

,id,year,title,url,text
107,107,2012,"""Review: Sony PlayStation Vita | WIRED""","""https://www.wired.com/2012/01/sony-playstatio...","""Open Navigation Menu To revisit this article,..."
503,516,2012,"""Report: US and Israel Behind Flame Espionage ...","""https://www.wired.com/2012/06/us-and-israel-b...","""Open Navigation Menu To revist this article, ..."
533,546,2012,"""Better Than Human: Why Robots Will — And Must...","""https://www.wired.com/2012/12/ff-robots-will-...","""Open Navigation Menu To revist this article, ..."

---

### Year: 2011

Number of articles: 52

,id,year,title,url,text
61,61,2011,"""The Untold Story of Magic Leap, the World's M...","""https://www.wired.com/2016/04/magic-leap-vr""","""Hyper Vision The worlds hottest startup isn..."
138,138,2011,"""What Bitcoin Is, and Why It Matters | MIT Tec...","""https://www.technologyreview.com/s/424091/wha...","""Featured Topics Newsletters Events Podcasts F..."
192,192,2011,"""The Rise and Fall of Bitcoin | WIRED""","""https://www.wired.com/2011/11/mf-bitcoin""","""Open Navigation Menu To revist this article, ..."

---

### Year: 2010

Number of articles: 31

,id,year,title,url,text
715,728,2010,"""Satya Nadella's Got a Plan to Make You Care A...","""https://www.wired.com/2015/01/microsoft-nadella""","""subscribe SCROLL DOWN Satya Nadella’s Got a P..."
854,867,2010,"""January 1997: CES Happens in Vegas, Stays in ...","""https://www.wired.com/thisdayintech/2010/01/0...","""Open Navigation Menu To revist this article, ..."
7416,7464,2010,"""Watch Why The Average Human Couldn't Drive An...","""https://www.wired.com/video/watch/wired-news-...","""Open Navigation Menu To revisit this article,..."

---

### Year: 2009

Number of articles: 20

,id,year,title,url,text
416,429,2009,"""What is artificial intelligence? Your AI ques...","""https://www.vox.com/future-perfect/2018/12/21...","""Vox homepage Give Give Newsletters Newsletter..."
443,456,2009,"""How to understand AI: it’s a tragedy of the c...","""https://www.vox.com/future-perfect/2023/7/7/2...","""Vox homepage Give Give Newsletters Newsletter..."
445,458,2009,"""The AI-nuclear weapons analogy, explained - Vox""","""https://www.vox.com/future-perfect/2023/6/29/...","""Vox homepage Give Give Newsletters Newsletter..."

---

### Year: 2008

Number of articles: 17

,id,year,title,url,text
456,469,2008,"""AI-generated video like “Balenciaga Harry Pot...","""https://www.vox.com/culture/23678708/ai-art-b...","""Vox homepage Give Give Newsletters Newsletter..."
695,708,2008,"""Is Google Making Us Stupid? - The Atlantic""","""https://www.theatlantic.com/magazine/archive/...","""Site Navigation The Atlantic Popular Latest N..."
762,775,2008,"""Watch WIRED25: Google CEO Sundar Pichai on Do...","""https://www.wired.com/video/watch/google-ceo-...","""Open Navigation Menu To revisit this article,..."

---

### Year: 2007

Number of articles: 26

,id,year,title,url,text
455,468,2007,"""WGA strike: A Hollywood writers strike needs ...","""https://www.vox.com/culture/23700519/writers-...","""Vox homepage Give Give Newsletters Newsletter..."
951,964,2007,"""Donald Michie | Science | The Guardian""","""https://www.theguardian.com/science/2007/jul/...","""US edition US edition UK edition Australia ed..."
2158,2171,2007,"""Sequencing in a Flash | MIT Technology Review""","""https://www.technologyreview.com/2007/05/01/2...","""Featured Topics Newsletters Events Podcasts F..."

---

### Year: 2006

Number of articles: 14

,id,year,title,url,text
123,123,2006,"""Privacy Debacle Hall of Fame | WIRED""","""https://www.wired.com/2006/08/privacy-debacle...","""Open Navigation Menu To revist this article, ..."
131,131,2006,"""The Resurrection of Al Gore | WIRED""","""https://www.wired.com/2006/05/gore-2""","""Open Navigation Menu To revist this article, ..."
591,604,2006,"""Vinge’s Singular Vision | MIT Technology Review""","""https://www.technologyreview.com/2006/07/01/2...","""Featured Topics Newsletters Events Podcasts F..."

---

### Year: 2005

Number of articles: 5

,id,year,title,url,text
1897,1910,2005,"""Implanting Hope | MIT Technology Review""","""https://www.technologyreview.com/s/403761/imp...","""Featured Topics Newsletters Events Podcasts F..."
9268,9316,2005,"""Mind Control | WIRED""","""https://www.wired.com/2005/03/brain-3""","""Open Navigation Menu To revist this article, ..."
9274,9322,2005,"""Implanting Hope | MIT Technology Review""","""https://www.technologyreview.com/2005/03/01/2...","""Featured Topics Newsletters Events Podcasts F..."

---

### Year: 2004

Number of articles: 9

,id,year,title,url,text
388,401,2004,"""Shoshana Zuboff on Kara Swisher podcast: Goog...","""https://www.vox.com/2019/2/20/18232469/shosha...","""Vox homepage Give Give Newsletters Newsletter..."
408,421,2004,"""What is biohacking? The new “science” of opti...","""https://www.vox.com/future-perfect/2019/6/25/...","""We have a request Vox's journalism is free, b..."
535,548,2004,"""Craig Venter's Epic Voyage to Redefine the Or...","""https://www.wired.com/2004/08/venter""","""Open Navigation Menu To revist this article, ..."

---

### Year: 2003

Number of articles: 1

,id,year,title,url,text
884,897,2003,"""Microsoft Sued for Weak Security | WIRED""","""https://www.wired.com/2003/10/microsoft-sued-...","""Open Navigation Menu To revist this article, ..."

---

### Year: 2002

Number of articles: 15

,id,year,title,url,text
383,396,2002,"""Vox Archives - Innovation - Page 1""","""https://www.vox.com/innovation/archives""","""Vox homepage Give Give Newsletters Newsletter..."
398,411,2002,"""Vox Archives - Google - Page 1""","""https://www.vox.com/google/archives""","""Vox homepage Give Give Newsletters Newsletter..."
459,472,2002,"""Artificial Intelligence - Vox""","""https://www.vox.com/artificial-intelligence""","""Vox homepage Give Give Newsletters Newsletter..."

---

### Year: 2001

Number of articles: 8

,id,year,title,url,text
2055,2068,2001,"""The 11 Best Sci-Fi Movies You Can Stream Righ...","""https://www.wired.com/2017/03/best-sci-fi-str...","""Open Navigation Menu To revist this article, ..."
6990,7038,2001,"""S | Keywords | The Guardian""","""https://www.theguardian.com/index/subjects/s""","""Account overview Billing Profile Emails & mar..."
9549,9599,2001,"""Matt Marshall, Author at VentureBeat""","""https://venturebeat.com/author/matt-marshall""","""Artificial Intelligence View All AI, ML and D..."

---

### Year: 2000

Number of articles: 31

,id,year,title,url,text
249,259,2000,"""The Coming Air Age - The Atlantic""","""https://www.theatlantic.com/magazine/archive/...","""Site Navigation The Atlantic Popular Latest N..."
278,291,2000,"""The Computers of Tomorrow - The Atlantic""","""https://www.theatlantic.com/magazine/archive/...","""Site Navigation The Atlantic Popular Latest N..."
345,358,2000,"""Shelf Improvement book subscriptions""","""https://www.theguardian.com/shelf-improvement""","""Toggle menu Visit the Guardian Compare Wish L..."

---